*.o
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autotools/compile
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
autotools/test-driver
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
librcksum/.deps/
librcksum/Makefile
librcksum/Makefile.in
librcksum/librcksum.a
librcksum/md4test
libzsync/.deps/
libzsync/Makefile
libzsync/Makefile.in
libzsync/libzsync.a
libzsync/sha1test
stamp-h1
zlib/.deps/
zlib/Makefile
zlib/Makefile.in
zlib/libdeflate.a
zlib/libinflate.a
zsync
zsyncmake
quicksync